    <meta charset="utf-8">
    <meta name="description" content="A fat-free, quick, open source YouTube downloader. No ads, free, open source and self-host ready, plus quick. ⚡">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>⚡ ytdown &mdash; A fat-free, quick, open source YouTube downloader.</title>

    <link type="text/css" href="/stylesheet.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>