    <meta charset="utf-8">
    <meta name="description" content="A lightweight, open source YouTube downloader, allowing you to quickly download high quality YouTube videos.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>A lightweight, open source YouTube downloader.</title>

    <link type="text/css" href="/stylesheet.css" rel="stylesheet">